<div>
  <h2>Search Stackoverflow (Alpha Version)</h2>
  <form class="red-search__field">
    <input
      class="form-control input-sm"
      [formControl]="formControl"
      type="text"
    />
    <button #searchBtn class="btn btn-lg" type="submit">Search</button>
  </form>

  <div *ngIf="searchResult$ | async as result">
    <div
      class="red-search__suggestions__results__items"
      *ngIf="result?.items?.length"
    >
      <app-search-result-tile
        *ngFor="let item of result.items"
        [result]="item"
        [fallbackImage]="fallbackImage"
      ></app-search-result-tile>
    </div>
    <div *ngIf="!result?.items?.length">No Results Found!</div>
  </div>
</div>
