@import 'src/styles.scss';

$extra-margin: 10vw;

::ng-deep router-outlet ~ * {
  position: absolute;
  width: calc(100vw - #{$sidebar-width} - #{$extra-margin});
}

nav {
  cursor: pointer;

  .active {
    background-color: $blue-light;
    transition: all 1s ease-in-out;
  }
}

app-widget {
  &.visible  {
    display: block;
  }
}
